<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Customer List</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
</nav>

<div class="container mt-5">
    <h1 class="mb-4">Customer List</h1>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" onclick="location.href='add-customer.html'">Add Customer</button>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <label for="searchInput"></label><input type="text" class="form-control" id="searchInput" placeholder="Search..." oninput="searchCustomers()">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" onclick="searchCustomers()">Search</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="customerTableBody">
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- External Script File -->
<script src="../static/script.js"></script>
</body>
</html>
